@model IEnumerable<SatoriTeamTool.Models.NeedCheckOrFixModel>

@{
    ViewBag.Title = "Get Daily Alert";
}

<h2>Alert Report</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "GetAlert", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td>输入要获得的Alert日期 ：</td><td><input type="date" id="date" name="date" /></td><td><input type="submit" id="Submit" name="Submit" value="确认" /></td></tr>
    </table>
}
@using (Html.BeginForm("GetAlertDate", "GetAlert", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr><td><input type="date" id="date" name="date" value="@ViewBag.dateMessage" style="display:none;"/></td><td><input type="submit" id="Submit" name="Submit" value="测试按钮" /></td></tr>
    </table>
}
@ViewBag.dateMessage

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ontology)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VersionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelOwner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModelAlertType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IssueSymptom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Action)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseAnalysis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ModelDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ontology)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VersionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelOwner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModelAlertType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IssueSymptom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Action)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseAnalysis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>*@
<pre class="brush:c-sharp;"><iframe style="width:100%;height:400px" src="@ViewBag.urlMessage" /></pre>
